SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=http://127.0.0.1:8888/callback
SPOTIFY_TOKEN_PATH=.spotify_token_cache

YOUTUBE_CLIENT_SECRETS_FILE=client_secrets.json
YOUTUBE_TOKEN_PATH=.youtube_token_cache
YOUTUBE_PLAYLIST_ID=

STATE_FILE_PATH=state.json
LOG_FILE_PATH=sync.log
